.dropDownContainer{
margin-top: 15px;
background: #ffffff;
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.01);
border-radius: 14px;
width: 158px;
height: 158px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;

}