.pinContainer{
   
    
    border-radius: 10px;
    margin-top: 22px;
    margin-right: 46px;
    /* margin-left: 96px; */
    

}

.titleText{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */
    color: #000000;
    letter-spacing: 0.02em;
    margin-left: 5px;
}

.imagePin{
    width: 215px;

}