.title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-left: 96px;
}

.boardsContainer{
    display: flex;

    margin-left: 96px;
    flex-wrap:wrap;

}